h1 {
	text-align: center; 
}
h2 {
	text-align: center;
}
img.img-rounded {
	display: block;
    margin-left: auto;
    margin-right: auto 
}
.navbar-fixed-top{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
.pagewrapper{
	 width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
p.bio{
	text-align: center;
}
p.text-muted{
	text-align: center;
}