p.text-muted{
	text-align: left;
}
.header{
	text-align: center;
}
.mdi-file-file-download{
    position: absolute;
}
.pager{
	text-align: center;
}
.pagewrapper{
	 width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
.navbar-fixed-top{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
a.link{
	text-decoration: none;
}
.imgs{
	text-align: right;
}
h3.header{
	text-align: left;
}
ul.pub_list{
    list-style-type: none;
}