.jumbotron {
	background-image: url("http://www.womenshealthmag.com/files/wh6_uploads/images/1310-cancer-genetics-art.jpg");
}
.twitter-timeline{
	text-align: center;
}
.navbar-fixed-top{
	width: 350px;
	margin-left: auto;
	margin-right: auto;
}
.pagewrapper{
	 width: 350px;
	margin-left: auto;
	margin-right: auto;
}
/*
h3 {
	text-align: center;
}
*/
p.text-muted{
	text-align: left;
}
.imgs {
	text-align: right;
}