p.text-muted{
	text-align: center;
}
.header{
	text-align: center;
}
.mdi-file-file-download{
    position: absolute;
}
.pager{
	text-align: center;
}
.pagewrapper{
	 width: 350px;
	margin-left: auto;
	margin-right: auto;
}
.navbar-fixed-top{
	width: 350px;
	margin-left: auto;
	margin-right: auto;
}